{% extends "predictor/base.html" %}
{% load static %}


{% block head %}
<script>
window.data = { stock: '{{ stock_ticker }}' };
window.portfolios = [
{% for p in portfolios %}
{
    portfolio_name: '{{ p.portfolio_name|escapejs }}',
    current_diversity: '{{ p.current_diversity|escapejs }}',
    current_value: '{{ p.current_value|escapejs }}',
    total_invested: '{{ p.total_invested|escapejs }}',
    start_date: '{{ p.start_date|escapejs }}',
    end_date: '{{ p.end_date|escapejs }}',
},
{% endfor %}
];
</script>
{% endblock %}

{% block js %}
<script>startHomeView();</script>
{% endblock %}

{% block content %}
<br />

<div id="app"></div>

{% endblock %}
