{% extends "predictor/base.html" %}
{% load static %}


{% block head %}
<script>
window.data = { stock: '{{ stock_ticker }}' };
</script>
{% endblock %}

{% block js %}
<script src="{% static 'predictor/portfolio.js' %}"></script>
<script>startNewPortfolioView();</script>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">StockPredictor</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Portfolios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Stocks</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="#">New Portfolio<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="responsiveNavbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
        <div class="dropdown-menu" aria-labelledby="responsiveNavbarDropdown">
          <a class="dropdown-item" href="/predictor/logout">Logout</a>
        </div>
      </li>
    </li>
  </ul>
  <form class="form-inline float-xs-right">
    <input class="form-control" type="text" placeholder="Search stocks" />
    <button class="btn btn-outline-info" type="submit">Go</button>
  </form>
</nav>

{% endblock %}

{% block content %}
<div id="app"></div>

{% endblock %}