{% extends "predictor/base.html" %}
{% load static %}


{% block head %}
<script>
window.data = { stock: '{{ stock_ticker }}' };
</script>
{% endblock %}

{% block js %}
<script src="{% static 'predictor/portfolio.js' %}"></script>
<script>startPortfolioView();</script>
<script>
window.data = {{ investor.portfolio_set }};
</script>
{% endblock %}

{% block content %}
<br />
<div id="app"></div>

{% endblock %}

<!-- 
{% block asdfasdf %}
<h1> Home of {{ user.first_name }} {{ user.last_name }}</h1>

<div>
	{% for portfolio in investor.portfolio_set.all %}
		<div>
		<a href="{% url 'predictor:portfolio_detail'  portfolio_id=portfolio.pk  %}">
			{{ portfolio.portfolio_name }}
			</a>
		</div>
		<div>
			{{ portfolio.current_diversity }}
		</div>
		<div>
			{{ portfolio.total_invested }}
		</div>

	{% endfor %}
</div>
{% endblock %} -->