{% extends "predictor/base.html" %}
{% load static %}


{% block head %}
<script>
window.data = {};
window.data.portfolio = {
    id: {{ portfolio.id|escapejs }},
    portfolio_name: '{{ portfolio.portfolio_name|escapejs }}',
    current_diversity: {{ portfolio.current_diversity|escapejs }},
    current_value: {{ portfolio.current_value|escapejs }},
    total_invested: {{ portfolio.total_invested|escapejs }},
    start_date: '{{ portfolio.start_date|escapejs }}',
    end_date: '{{ portfolio.end_date|escapejs }}',
}
window.data.portfolio.stocks = [
{% for s in stocks %}
{
    name: '{{ s.stock.stock_name|escapejs }}',
    owned: '{{ s.amount_owned|escapejs }}',
    price: '{{ s.stock.current_adjusted_close|escapejs }}',
    price_then: '{{ s.bought_at|escapejs }}',
},
{% endfor %}
]
</script>
{% endblock %}

{% block js %}
<script>startPortfolioView();</script>
{% endblock %}

{% block content %}
<br />
<div id="app"></div>

{% endblock %}