body {
  font: 10px sans-serif;
}

.axis text {
  fill: #888;
}

.axis path,
.axis line {
  fill: none;
  stroke: #AAA;
  shape-rendering: crispEdges;
}

.line2, .lgreen {
  stroke: #5F8 !important;
}


.line {
  fill: none;
  stroke: #0bf;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: #0bf;
}

.range {
    fill: #eee;
    opacity: .4;
    pointer-events: all;
    shape-rendering: crispEdges;
}


/////////

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.jumbotron {
  // padding-top: 1rem;
  border-top: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

//////////

.navbar {
  margin-bottom: 20px;
}

.FormAddStock {
  margin: 10px 0;

  .form-group, label {
    margin-right: 10px;
  }
}

.PortfolioEditor {
  & > h1 {
    font-size: 15px;
    text-transform: uppercase;
  }

  padding: 10px;
  background: #DDD;
  border: 1px solid #EEE;
  margin-top: 30px;

}

.portfolio1 {
  color: #0bf;
}

.portfolio2 {
  color: #5F8;
}

footer {
  font-size: .9em;
  margin-top: 30px;
  margin-bottom: 30px;
}